In [3]:
import pandas as pd
from sqlite3 import connect
import mysql.connector

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.3 kB)
Downloading mysql_connector_python-9.4.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 117.3 MB/s  0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

In [6]:
con = connect(':memory:')
df = pd.DataFrame(data=[[0,'10-11-25'],[1,'23-11-25']], columns=['int_columns','datecolumns'])

In [7]:
df

,int_columns,datecolumns
0,0,10-11-25
1,1,23-11-25

In [8]:
print(df.to_sql(name='test_data',con=con))

2

In [9]:
print(pd.read_sql('SELECT * FROM test_data',con))

   index  int_columns datecolumns
0      0            0    10-11-25
1      1            1    23-11-25