In [1]:
import pandas as pd
import numpy as np

In [5]:
s1 = pd.Series([4,2,5,3,7,3,7,3,8,9],index=['a','b','c','f','d','r','y','p','s','z'],name='wartosc')

In [3]:
s1

In [6]:
sdata = {'Warszawa':12435,'Lublin':8553,'Kraków':9876,'Gdańsk':7847}
s2 = pd.Series(sdata,name='wnioski')
s2

In [7]:
data = {'miasto':['Warszawa','Lublin','Wrocław','Kraków'],
        'wnioski':[13455,10454,11235,11234],
        'projekty':[7,6,6,8]}

frame = pd.DataFrame(data,index=[10,11,12,13])
frame

,miasto,wnioski,projekty
10,Warszawa,13455,7
11,Lublin,10454,6
12,Wrocław,11235,6
13,Kraków,11234,8

In [8]:
daty = pd.date_range("20251020",periods=6)
daty

DatetimeIndex(['2025-10-20', '2025-10-21', '2025-10-22', '2025-10-23',
               '2025-10-24', '2025-10-25'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
df

,A,B,C,D
2025-10-20,1.406888,-0.384862,0.024834,-0.844515
2025-10-21,-0.099843,1.300787,0.458608,0.670573
2025-10-22,0.156983,1.146551,-0.287878,1.421631
2025-10-23,0.832417,-0.439229,-0.347729,-0.880293
2025-10-24,0.941710,0.562829,0.594704,0.809146
2025-10-25,-1.298010,0.159870,-0.557192,-0.158344

In [10]:
m = "ABCD"
m

'ABCD'

In [11]:
m[0]

'A'

In [12]:
m[2]

'C'

In [13]:
m[1:3]

'BC'